/* You can add global styles to this file, and also import other style files */
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

// Font Variables
$marker: 'Permanent Marker', cursive;

// Color Variables
$red: #ff1919;
$red-faded: #ff5d5d;
$white: #fff1f1;
$grey: #ccc;